# Database connection string for PostgreSQL - format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
# For example: postgresql://postgres:mysecretpassword@localhost:5432/mydatabase
DATABASE_URL= 

# Direct Database connection string, repeat the DATABASE_URL most cases.
DIRECT_URL= 

# Secret key for JWT authentication - use a strong, random string in production
JWT_SECRET=

# Port number for the backend server to listen on - default is 3000
PORT=3000

# Seed password for seeding the database
SEED_PASSWORD= "SomeStrongRandomPassword123!"

# Endpoints allowed for CORS requests, comma-separated list
CORS_ORIGINS=http://localhost:5173

# Available options: local, cloudinary, s3
STORAGE_PROVIDER=local

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME="seu-cloud-name"
CLOUDINARY_API_KEY="sua-api-key"
CLOUDINARY_API_SECRET="seu-api-secret"

# AWS configuration
# Credentials are obtained from the AWS CLI locally or from the EC2 instance role.
AWS_REGION=us-east-1
AWS_S3_BUCKET=
AWS_SQS_IMAGE_QUEUE_URL=
AWS_DYNAMODB_AUDIT_TABLE=